*{
    margin: 0;
    padding: 0;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

h1{
    /*width: 124px; */
    height: 24px;
    font-family: 'Poppins';
    font-size: 16px;
}
.background-image {
  width: 100%;
  max-width: 748px;
  height: auto;
  margin-top: 2rem;
}

/* Tablet and below */
@media (max-width: 1024px) {
  .background-image {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}

/* Phone */
@media (max-width: 600px) {
  .logo h1 {
    font-size: 1rem;
  }
  .background-image {
    display: none; 
  }
}